/* App.css */
html {
    scroll-behavior: smooth;
  }

::-webkit-scrollbar{
    width: 5px;
    background-color: #3a4357;
}

::-webkit-scrollbar-thumb{
    background-color: #c7c7c7e5;
}

::selection{
    background-color: #364061;
    color: #f5c670;
}